$vm_base: 375; 
@function vw($px) {
    @return ($px / 375) * 100vw;
}
body{
    
    background:url("/img/login-bg.png") no-repeat;
   
    background-size:100% 100%;
    background-attachment: fixed;
    width:100vw;
    height:100vh;
    padding-top:vw(70);
}

.login-banner{
    width:vw(100);
    height: vw(100);
    img{
        width: 100%;
        height:100%;
    }
    margin:0 auto;
    margin-bottom:vw(45);
    
}


.login-box{
    width:vw(345);
    margin:0 auto;
    .input-item{
        .time{
            display: none;
        }
        height:vw(45);
        margin-bottom:vw(20);
        width:100%;
        border:vw(1) solid #fff;
        border-radius: vw(100);
        img{
            width:vw(18);
           margin:vw(12) vw(18);
           margin-right:vw(2)
        }
        input{
            width:60%;
            margin:0;
            background-color:transparent;
            border:none;
            height: vw(45);
            line-height: vw(45);
            color:#fff;
            font-weight: normal;
            font-size: vw(14);
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #fff; opacity:0.5;
            font-size: vw(14);
        }
        
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #fff;opacity:0.5;
            font-size: vw(14);

        }
        
        input:-ms-input-placeholder{
            color: #fff;opacity:0.5;
            font-size: vw(14);
        }
        
        input::-webkit-input-placeholder{
            color: #fff;opacity:0.5;
            font-size: vw(14);
        }

        span{
            display: block;
            height: vw(45);
            line-height: vw(45);
            color:#fff;
            margin-right:vw(20);
        }
       
    }
    .login-btn{
        display: block;
        height:vw(45);
        line-height: vw(45);
        text-align: center;
        background: #fff;
        border-radius: vw(100);
        color: #FF774E;
        font-size: vw(16);
        margin-top:vw(30);
    }
    .select-box{
        font-size:vw(13);
        a{
            color:#fff;
        }
        margin-top:vw(15);
      
    }

    .title-info{
       
        display: block;
        width:vw(120);
        font-size: vw(13);
        color: #fff;
        text-align: center;
        margin: 0 auto;
        margin-top:vw(70);
        position: relative;

    }
    .title-info::after{
        content: '';
        width:vw(50);
        height:vw(2);
        position: absolute;
        left:vw(-50);
        top:50%;
        background: #fff;
        opacity: 0.26;
    }

    .title-info::before{
        content: '';
        width:vw(50);
        height:vw(2);
        position: absolute;
        right:vw(-50);
        top:50%;
        background: #fff;
        opacity: 0.26;
    }

    .login-tip{
        margin-top:vw(30);
      padding:0 vw(100);
      a{
       p{
        font-size: vw(13);
        color: #fff;
       } 
      }
     
        img{
            width: vw(45);
            height: vw(45);
        }
    }
}